//Colors
//when we start with scss variables are define with the $ sign

$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$purple: #8357c5;

//spasing
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-sixe: 4.8rem;
$s-size: 1.2rem;
 
$desktop-breakpoint: 45rem;